html{
  scroll-behavior: smooth;
}
body{
  margin:0;
  padding:0;
  font-family:sans-serif;
}

a a:link a:visited{
  text-decoration: none !important;
  color: inherit;
}

.noDecoration{
  text-decoration: none !important;
  color: inherit;
}

section{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:auto;
  padding-left:15em;
  padding-right:15em;
  padding-top: 5em;
  padding-bottom: 5em;

  background:#fff;
  color:#555;

  box-sizing:border-box;
  transition:0.2s;

  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  text-align: justify;
}
section.dark{
  background:#151515;
  color:#cecece;
}

.scroll_indicator{
  position: fixed;
  width: 3em;
  height: 40%;
  left: 11em;
  top: 30%;
}

.scroll_bar{
  position: absolute;
  top: 0;
  right: 2.5em;
  width: 1px;
  height: 0%;
  background: #000;
  box-shadow: 0 0 5px 1px #00000070;

  /* Make this unselectable */
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.scroll_bar.dark{
  background: #fff;
  box-shadow: 0 0 5px 1px #ffffff70;
}
.scroll_bar#bg{
  height: 100% !important;
  background: rgba(127, 127, 127, 0.4);
  box-shadow: none;
}

.scroll_notch{
  position: absolute;
  top: 47.5%;
  right: 1em;
  font-family: 'Courier', sans-serif;
  font-size: 1em;
  color: #000;
  background: #fff;
  transition: 0.2s;

  border: solid;
  border-width: 1px;
  width: 3em;
  height: 2em;
  text-align: center;
  line-height: 2em;

  /* Make this unselectable */
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.scroll_notch.dark{
  color: #fff;
  background: #151515;
}

/* Dictionary text style */
.word{
  font-variant: petite-caps;
  font-weight: bolder;
  color: #007eff;
  transition: 0.2s;
}
.word.dark{
  color: #ffd000;
}
.word_mem{
  display: none;
}

/* Line styles */
.content_line{
  margin: 4em 0 0 0;
}

/* Raw styles */
.content_raw{
  display: block;
  margin: 0.5em 0 4em 0;
  font-size: 0.6em;
  font-weight: 500;
  color: #9e9e9e;
}
.content_raw.dark{
  color: #595959;
}

/* Chapter title style */
h1{
  margin: 0;
  font-variant: petite-caps;
  font-size: 2em;
  font-weight: bolder;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 0.1em; 
}

/* Chapter number style */
h2{
  margin: 0;
  font-variant: all-petite-caps;
  font-size: 1em;
  font-weight: bolder;
  text-align: center;
  padding-top: 0.1em;
  padding-bottom: 2em;
}

ul{
  margin:4em auto;
  padding:0;
  width:20em;
  height:30px;
  z-index:1;
  border:1px solid #000;
  border-radius:0.6em;
  cursor:pointer;
  overflow:hidden;
  font-size: 0.6em;
  font-weight: bolder;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul.active{
  border-color:#fff;
}

ul li{
  list-style:none;
  width:100%;
  height:60px;
  text-align:center;
  text-transform:uppercase;
  transition:0.2s;
}

ul.active li{
  transform:translateY(-30px);
}

ul li span{
  display:block;
  width:100%;
  height:30px;
  line-height:30px;
  color:#151515;
  background:#fff;
  font-variant: all-petite-caps;
  font-weight: bolder;
}

ul li span:nth-child(1){
  background:#151515;
  color:#fff;
}

.pigpanda_div{
  width: 100%;
}

.pigpanda_png{
  display: block;
  width: 2em;
  margin: 2em auto;
}

.pigpanda_png.dark{
  filter: invert(1);
}

.end_line{
  /* Make it invisible */
  color: rgba(0, 0, 0, 0);
  font-size: 0.001em;
  /* Make it unselectable */ 
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Adaptive style for ultrawide */
@media only screen and (max-width: 3440px){
  section{
    padding-left:17em;
    padding-right:17em;

    font-size: 1.8em;
    text-align: justify;
  }

  .scroll_indicator{
    left: 14em;
  }
}

/* Adaptive style for true HD */
@media only screen and (max-width: 2650px){
  section{
    padding-left:15em;
    padding-right:15em;

    font-size: 1.5em;
    text-align: justify;
  }

  .scroll_indicator{
    left: 11em;
  }
}

/* Adaptive style for tablet */
@media only screen and (max-width: 1920px){
  section{
    padding-left:13em;
    padding-right:13em;
    padding-top: 10em;
    padding-bottom: 10em;

    font-size: 1.3em;
    text-align: justify;
  }

  .scroll_indicator{
    left: 9em;
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 1440px){
  section{
    padding-left:5em;
    padding-right:5em;
    padding-top: 10em;
    padding-bottom: 10em;

    font-size: 1.2em;
    text-align: justify;
  }
  ul{
    top:1.5em;
    left:50%;
    width: 45%;
  }
  .fade_div{
    width: 100%;
    height: 120px;
    position: fixed;
    z-index: 0;
    background-image: linear-gradient(white, #fffffffa, rgba(255, 255, 255, 0));
    transition: 0.2s;
  }
  .fade_div.dark{
    background-image: linear-gradient(#151515, #151515fc, rgba(0, 0, 0, 0));
  }
  .scroll_indicator{
    display: none;
  }
}
/* Adaptive style for phone */
@media only screen and (max-width: 640px){
  section{
    padding-left:5em;
    padding-right:5em;
    padding-top: 10em;
    padding-bottom: 10em;

    font-size: 0.7em;
    text-align: justify;
  }
  ul{
    top:1.5em;
    left:50%;
    width: 50%;
  }
  .fade_div{
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 0;
    background-image: linear-gradient(white, #fffffffa, rgba(255, 255, 255, 0));
    transition: 0.2s;
  }
  .fade_div.dark{
    background-image: linear-gradient(#151515, #151515fc, rgba(0, 0, 0, 0));
  }
}